body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

nav a:hover {
    color: #FF5733; 
}

header {
    background-color: #FEF0ED; 
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.titulo{
    color: #FD8399;
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 180px;
    justify-content: space-between;
    align-items: center;
}

.content{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.borda{
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
}

.profissional {
    display: flex;
    align-items: center;
    margin: 40px 20px 40px 0;
    max-width: 800px;
}

.profissional img {
    max-width: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.image{
    height: 200px;
    width: 200px;
}

.profissional .info {
    margin-left: 20px;
}

.profissional.inverted {
    flex-direction: row-reverse;
    text-align: right;
    margin: 40px 0 40px 200px;
}

.profissional.inverted img {
    margin-left: 20px; /* Adicionei uma margem à esquerda da imagem invertida */
    margin-right: 0; /* Removi a margem à direita da imagem invertida */
}

.profissional.inverted .info {
    margin-right: 20px; /* Adicionei uma margem à direita da descrição invertida */
}

footer {
    background-color: #333; 
    color: #FFF;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}