body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

nav a:hover {
    color: #FF5733; 
}

/* #17a2b8
#04ac80 
00c851 */


header {
    background-color: #FEF0ED; 
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.titulo{
    color: #FD8399;
    text-align: center;
    /* font-family: mv boli; */
}

.escrita{
    color: #FD8399;
    margin-right: 22px;
    font-family: mv boli;
    font-weight: 700;
    /* font-size: 72px; */
    margin-bottom: 0;
}

.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 170px;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}
th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #FD8399;
}
td {
    background-color: #ffffff;
}
.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.agendar-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FD8399;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.agendar-button:hover {
    background-color: #FF3578; 
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.popup.show {
    display: block;
}

footer {
    background-color: #333; 
    color: #FFF;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

