body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

nav a:hover {
    color: #FF5733; 
}

header {
    background-color: #FEF0ED;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.titulo{
    color: #FD8399;
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 180px;
    justify-content: space-between;
    align-items: center;
}

section {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
}


h1{
    color: #FD8399;
    text-align: center;
}

p{
    text-align: center;
}

footer {
    background-color: #333; 
    color: #FFF;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
